<style> @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&display=swap'); </style>
*{
    padding: 0;
    margin: 0 ;
}
header{
    height: 58px;
    background-color: rgb(13, 38, 232);
    border: 2px solid red;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    display: flex;
    justify-content:flex-start ;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(232, 236, 242);
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 293px;
    height: 17px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.slider{
    margin: auto;
    width: 80vw;
    margin: 12px 0;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
}